
/*                                     --> Geral <--                                     */
:root{
    --textcolor1: rgb(83, 83, 83);
}

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}


/*                                     --> Header <--                                     */
header{
    width: 100%;
    max-width: 100%;
    margin-top: 1%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

/*                   --> Menu <--                   */
#menu{
    margin-left: 10%;
    height: 5.5em;
    max-height: 10%;
    width: 80%;
    max-width: 80%;
    background-color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    gap: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.100), 0px -2px 2px rgba(0, 0, 0, 0.100);
    border-radius: 2px;
}
#menu div{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    align-content: center;
}
#menu a{
    text-align: center;
    text-decoration: none;
    color: var(--textcolor1);
    font-size: 1.2em;

    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 65%;
    width: 8%;
    border-radius: 3px;
}
#menu a:hover{
    background-color: maroon;
    color: white;
}

/*                                     --> Main <--                                     */
main{
    width: 100%;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    row-gap: 10px;
    column-gap: 30px;
    width: 100%;
    max-width: 100%;
}
/*                  --> Home <--                  */
#home .container{
    background-image: url("images/hotel.jpg");
    background-size: cover;
    width: 100%;
    height: 90dvh;
}
#home p{
    margin-top: 3em;
    margin-left: 10%;
    width: 80%;
}
/*                  --> Quartos <--                  */

#quartos h2{
    margin-top: 5em;
}
#quartos .bloco-de-imagens{
    overflow: hidden;
    width: 100%;
    flex-flow: row nowrap;
    flex: 1;
    margin-top: 10em;
    justify-content: center;
}
#quartos .bloco-da-imagem{
    overflow: hidden;
    flex-direction: column;
    row-gap: 0;
    width: 35%;
    max-width: 35%;
}
#quartos .descricao{
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    height: 4em;
}
#quartos .descricao img{
    display: flex;
    width: 15%;
    height: 100%;
}
#quartos .imagem{
    border: none;
    width: 100%;
    max-width: 100%;
    height: 350px;
}
#quartos .imagem img{
    display: flex;
    width: 100%;
    height: 100%;
}

#quartos .bloco-de-imagens:nth-child(1){ column-gap: 4em;}
#quartos .bloco-de-imagens:nth-child(2){ column-gap: 10%;}


#quartos .bloco-da-imagem2{
    flex-direction: column;
    width: 22%;
    max-width: 100%;
    height: auto;
    row-gap: 0;
}
#quartos .bloco-da-imagem2 .imagem{
    width: 100%;
    max-width: 100%;
    height: 240px;
}
#quartos .descricao h3{
    margin-top: 15px;    
}

